.root {
  height: calc(100vh - 67px - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
  margin: 48px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  width: 100%;
}
