body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout {
  background: white;
}

.ant-menu-inline {
  height: 100%;
}

.ant-carousel .slick-dots-bottom {
  bottom: 24px;
}

.ant-carousel .slick-dots li button {
  height: 8px;
  width: 25px;
  border-radius: 4px;
}

.ant-carousel .slick-dots li.slick-active button {
  width: 40px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}
