.root {
  height: calc(100vh - 67px - 64px);
  overflow: auto;
  width: 100%;
  text-align: center;
}

.list {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  margin-bottom: 20px;
}

.collapse {
  padding: 0;
  width: 100%;
  text-align: left;
}
