.root {
  height: calc(100vh - 67px - 64px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list {
  padding: 24px;
  padding-bottom: 0px;
  max-height: calc(100vh - 64px - 64px - 50px);
  width: 85%;
  min-width: 350px;
}
